@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@import "./styles/variables.css";


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: 'Poppins';
}

.attribution {
  margin: 20px;
}