:root {
  --card-radius: 10px;

  /* Primary */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* Neutral */
  --color-very-dark-blue: hsla(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);

  /* Shadow */
  --shadow-grayish-blue: hsl(212, 86%, 64%, 0.1);
  
  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-heavy: 600;
}